@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e0e0e0; /* پس‌زمینه برای تم روشن */
  --foreground: #111111; /* متن برای تم روشن */
  --primary: #3a8857;    /* رنگ اصلی */
  --secondary: #28303e;  /* رنگ ثانویه */
  --danger: #ef4444;   
  --redc :   rgb(185,28,28);
  --redasli: rgb(185,28,28);
  --txtl: #fff7f7; 

}

[data-theme='dark'] {
  --background: #111111;
  --foreground: #e0e0e0;
  --primary: #f647c2;    /* رنگ اصلی در حالت تاریک */
  --secondary: #6c9bff;  /* رنگ ثانویه در حالت تاریک */
  --danger: #dc2626; 
  --redc :   rgb(185, 38, 58);  /* رنگ خطر در حالت تاریک */
  --redasli: rgb(185, 38, 58);
  --txtl: #fff7f7; 
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}
::-webkit-scrollbar {
  background-color: #6c9bff;

  display: none;
}
